<!--==============================
=            breadcum            =
===============================-->

<ol class="breadcrumb animated fadeIn fast">
	<li><a href="#!/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
	<li class="active">Automoviles</li>
</ol> 

<!--====  End of breadcum  ====-->


<div class="row">
	
	<div class="col-md-12">
	  <div class="box">

	    <!--================================
	    =            box header            =
	    =================================-->
	    
	    <div class="box-header with-border">
	      <h3 class="box-title">Automoviles</h3>
	
			<div class="box-tools">
	            <div class="input-group">
	              <a class="btn btn-primary"
	              	ng-click="mostrarModal({})"><i class="fa fa-plus"></i> Agregar Automovil</a>
	            </div>
	        </div>

	    </div>
	    
	    <!--====  End of box header  ====-->
	    
	    
	    <!--==============================
	    =            box body            =
	    ===============================-->
	    
	    <div class="box-body">
	      
	      <table class="table table-bordered">
			<thead>
				<tr>
					<th>#</th>
					<th>Marca</th>
					<th>Precio</th>
					<th>Foto</th>
					<th>Descripcion</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="automovil in automoviles.automoviles">
					<td>{{ automovil.id-10 }}</td>
					<td>{{ automovil.marca }}</td>
					<td>{{ automovil.precio }}</td>
					<!-- <td>{{ automovil.foto }}</td> -->
					<td> <img class="logo" src="img/bd/autos/{{ automovil.foto }} "> </td>
					<td>{{ automovil.descripcion }}</td>
					<td>
						<a ng-click="mostrarModal( automovil )" class="btn btn-warning btn-xs">Editar <i class="fa fa-edit"></i></a>
						<a ng-click="" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i> Borrar</a>
					</td>
				</tr>
			</tbody>

	      </table>

	
		</div>

	    <!--====  End of box body  ====-->
	    
	    <!--================================
	    =            box footer            =
	    =================================-->
	    
	    <div class="box-footer clearfix">
          <ul class="pagination pagination-sm no-margin pull-right">
            <li><a ng-click="moverA(1)">«</a></li>

			<li ng-repeat="pag in automoviles.paginas"
				ng-class="{
					'active': automoviles.pag_actual === pag
				}">
				<a ng-click="moverA(pag)">{{ pag }}</a>
			</li>

            <li><a ng-click="moverA( automoviles.total_paginas )" >»</a></li>
          </ul>
        </div>
	    
	    <!--====  End of box footer  ====-->
	    
		</div>
	</div>

</div>


<div ng-include="'template/modal_automovil.html'"></div>




