<head>
    <style>
        .jumbotron {
            background-image: url("img/jumbotron_bg.png");
            background-size: cover;
        }  
        #dynamiccontentcarousel {
            background-color: rgba(236, 91, 8, 0.808);
        }
    </style>

    <script type="text/javascript">
        function salto(){
            document.writeln("lo que tiene index");
            if($index % 3 == 0 ){
                console.log("operacion: "+ $index % 3 == 0 );
                return '<br>'
            }
        }    
    </script>
</head>

<body>
    <div class="container-fluid">
        <div class="jumbotron">
                <h1><b>OFERTAS INCREIBLES</b></h1>
                <p><b>ENTRA A NUESTRO SITIO Y APROVECHA LAS MEJORES OFERTAS</b></p>
                <p><a class="btn btn-primary btn-lg" href="#!/login" role="button">LOGUEATE</a></p>
        </div>
        
        <div class="box box-solid">
    
            <div class="box-header with-border">
                <h3 class="box-title">CATEGORIAS</h3>
            </div><!-- /.box-header -->
    
            <div class="box-body">
                        
                <div id="dynamiccontentcarousel" class="carousel slide" data-ride="carousel" data-interval="5000">
            
                    <ol class="carousel-indicators">
                        <li data-target="#dynamiccontentcarousel" data-ng-repeat="categoria in categorias" data-ng-class="{active : $first}" data-slide-to="{{$index}}"></li>
                    </ol>
            
                    <div class="carousel-inner" role="listbox">
                        <div class="item" data-ng-repeat="categoria in categorias" data-ng-class="{active : $first}">
                            <img data-ng-src="../fac/img/bd/categorias/{{categoria.foto}}" alt=" carousel {{$index}}" />
                            <div class="carousel-caption">
                                {{ categoria.nombre }}
                            </div>
                        </div>
                    </div>
                </div>  
    
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6" data-ng-repeat="producto in productos">
                    <div class="thumbnail" >
                        <img src="../fac/img/bd/autos/{{producto.foto}}" alt=" carousel {{$index}}">
                        <div class="caption">
                            <!-- <p align="center"><b>{{ producto.marca }}</b></p> 
                            <p align="center">{{ producto.precio | currency }}</p> -->
                            <p align="center">
                                <a href="" ng-click="mostrarDetalles( producto )" class="btn btn-primary" role="button">Detalles</a> 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div> 
</body>

<div ng-include="'modalDetalles.html'"></div>


