<style>
  #alerta{
    color: red
  }
</style>


<body class="hold-transition register-page">

  <div class="register-box">
    <div class="register-logo">
      <a href=""><b>FACTURACIÓN </b>REGISTRO</a>
    </div>

    <div class="register-box-body">
      <p class="login-box-msg">Registrar nuevo usuario</p>

      <form name="regis" ng-submit=" registrar( usuario ) "> 

        <div class="form-group has-feedback">

          <input type="text" 
              class="form-control" 
              placeholder="Nickname" 
              ng-model="usuario.nombre" 
              required="required"
              minlength="4" 
              maxlength="15">

          <span class="glyphicon glyphicon-user form-control-feedback"></span>

        </div>

        <div class="form-group has-feedback">

          <input type="text" 
          class="form-control" 
          placeholder="nombre" 
          ng-model="usuario.codigo" 
          required="required"
          minlength="4" 
          maxlength="15">

          <span class="glyphicon glyphicon-user form-control-feedback"></span>

        </div>

        <!--
        <div class="form-group has-feedback">
          <input type="email" class="form-control" placeholder="Email">
          <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>
        -->
        <div class="form-group has-feedback">

          <input type="password" 
          class="form-control" 
          placeholder="Contraseña" 
          ng-model="usuario.contrasena" 
          required="required" 
          minlength="6" 
          maxlength="15">

          <span class="glyphicon glyphicon-lock form-control-feedback"></span>

        </div>

        <div class="form-group has-feedback">

          <input type="password" 
          class="form-control" 
          placeholder="Repetir contraseña" 
          ng-model="usuario.contrasena2" 
          required="required"
          minlength="6" 
          maxlength="15">

          <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
          <br>

          <div ng-show="verPass">
            lo que tiene ver pass {{ verPass }}
            <label  id="alerta"> No coinciden las Contraseñas</label>
          </div>
          

        </div>
          
        <div class="row">
          <div class="col-xs-12">

            <button type="submit" class="btn btn-primary btn-block btn-flat">Registrar</button>

          </div><!-- /.col -->
        </div>

      </form>
      
      <br>
      <a href="../public/" ng-click="volver()" class="text-center">Ya tengo una cuenta</a>

    </div><!-- /.form-box -->
  </div><!-- /.register-box -->

</body>



             