<!--==============================
=            breadcum            =
===============================-->

<ol class="breadcrumb animated fadeIn fast">
	<li><a href="#!/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
	<li class="active">Categorias</li>
</ol> 

<!--====  End of breadcum  ====-->

<!--================================
=            box header            =
=================================-->

<div class="box-header with-border">
  <h3 class="box-title">Categorías de los Productos</h3>

	<div class="box-tools" >
        <div class="input-group">
          <a class="btn btn-primary" ng-show="permiso" ng-click="mostrarModal({})">
			  <i class="fa fa-plus"></i> Agregar Categorías
		</a>
        </div>
    </div>

</div>

<!--====  End of box header  ====-->

<!--==============================
=            box body            =
===============================-->

<div class="box-body">
  
  <table class="table table-bordered">
	<thead>

		<th>
			Icono
		</th>

		<th>
			Descripción
		</th>

		<th>
			Acciones
		</th>

	</thead>
	<tbody>

		<tr ng-repeat="categoria in categorias.categorias track by $index" ng-if='categoria.activo==1'>
			
			<td id="grillaCategorias" align="center">
				<img class="card-img-top" alt="..." src="img/bd/categorias/{{ categoria.foto }} ">
			</td>

			<td id="grillaCategorias" align="center">
		  		<h3 class="card-title">{{ categoria.nombre | uppercase }}</h3>
		    	<p class="card-text">{{ categoria.descripcion }}</p>  	
		  	</td>

		  	<td id="grillaCategorias" align="center">
		  		<a ng-click="cargarProductos( categoria )" class="btn btn-primary btn-xs">
					  <i class="fa fa-search"></i> Mostrar
				</a>
		    	<a ng-show="permiso" ng-click="mostrarModal( categoria )" class="btn btn-warning btn-xs">
					<i class="fa fa-edit"></i> Editar
				</a>
				<a ng-show="permiso" ng-click="eliminar( categoria )" class="btn btn-danger btn-xs">
					<i class="fa fa-trash"></i> Eliminar
				</a>
	  		</td>
			 
		</tr>

	</tbody>

  </table>
	

</div>

<div class="container-fluid" ng-hide="bandera"> <!-- opciones -->
	<div class="row">
		<br>
		<div  ng-include="listaProductosCategoria"></div>
		<br>
	</div>
	<br>
</div>

<!--====  End of box body  ====-->

<div ng-include="'vistas/categorias/modal_categoria.html'"></div>