<!--==============================
=            breadcum            =
===============================-->

<ol class="breadcrumb animated fadeIn fast">
	<li><a href="#!/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
	<li class="active">Categorias</li>
</ol> 

<!--====  End of breadcum  ====-->

<!--================================
=            box header            =
=================================-->

<div class="box-header with-border">
  <h3 class="box-title">Categorías</h3>

	<div class="box-tools">
        <div class="input-group">
          <a class="btn btn-primary"
          	ng-click="mostrarModal({})"><i class="fa fa-plus"></i> Agregar Categorías</a>
        </div>
    </div>

</div>

<!--====  End of box header  ====-->

<!--==============================
=            box body            =
===============================-->

<div class="box-body">
  
  <table class="table table-bordered">
	<thead>
		<tr>
			Administración de Categorías
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="categoria in categorias.categorias" ng-if='categoria.activo==1'>
			<td>
				
				<div class="card" style="width: 18rem;">
				  	<!-- <img src="..." class="card-img-top" alt="..."> -->
				  	<img class="card-img-top" src="img/bd/categorias/{{ categoria.foto }} "> 
				  	<div class="card-body">
				  		<h5 class="card-title">{{ categoria.nombre }}</h5>
				    	<p class="card-text">{{ categoria.descripcion }}</p>
				  	</div>
				</div>
			
				<a ng-click="mostrarModal( categoria )" class="btn btn-warning btn-xs">Editar <i class="fa fa-edit"></i></a>
				<a ng-click="eliminar( categoria )" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i> Borrar</a>

			</td>
		</tr>
	</tbody>

  </table>


</div>

<!--====  End of box body  ====-->

<div ng-include="'vistas/categorias/modal_categoria.html'"></div>