<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">

  <!--================================
  =            user panel            =
  =================================-->
  
  <div class="user-panel">
    <div class="pull-left image">
      <img src="dist/img/avatar04.png" class="img-circle" alt="User Image">
    </div>
    <div class="pull-left info">
      <p>{{ usuario.nombre }}</p>
      <!-- Status -->
      <a href=""><i class="fa fa-circle text-success"></i> Online</a>
      <!-- <a href=""><i class="fa fa-circle text-danger"></i> Offline</a> -->
    </div>
  </div>
  
  <!--====  End of user panel  ====-->
  
  <!--============================================
  =            formulario de busqueda            =
  =============================================-->
  
  <!-- search form (Optional) -->
  <form action="#" method="get" class="sidebar-form">
    <div class="input-group">
      <input type="text" name="q" class="form-control" placeholder="Buscar...">
      <span class="input-group-btn">
        <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
      </span>
    </div>
  </form>
  <!-- /.search form -->
  
  <!--====  End of formulario de busqueda  ====-->
  

  <!--==================================
  =            sidebar menu            =
  ===================================-->
  
  <!-- Sidebar Menu -->
  <ul class="sidebar-menu">
    <li class="header">Opciones</li>
    <!-- Optionally, you can add icons to the links -->
    <li ng-class="mDashboard"><a href="#!/">
        <i class="fa fa-link"></i> 
        <span>Dashboard</span></a>
    </li>
    <li ng-class="mClientes">
        <a href="#!/clientes/1"><i class="fa fa-link"></i> 
          <span>Clientes</span>
        </a>
    </li>
    <!-- <li class="treeview"> -->
    <li ng-class="mCategorias">
      <a href="#!/categorias">
          <i class="fa fa-link"></i> 
          <span>Productos</span> 
          <i class="fa fa-angle-left pull-right"></i>
      </a>
      <ul class="treeview-menu">
          <li ng-class="mAutomoviles">
              <a href="#!/automoviles/1"><i class="fa fa-link"></i> 
                <span>Automoviles</span>
              </a>
          </li>
          <li ng-class="mComputadores">
            <a href="#!/computadores/1"><i class="fa fa-link"></i> 
              <span>Computadores</span>
            </a>
          </li>
      </ul>
    </li>
  </ul><!-- /.sidebar-menu -->
  
  <!--====  End of sidebar menu  ====-->
  
</section>
<!-- /.sidebar -->
